@charset "utf-8";
/* CSS Document */

.margin-tb{margin-top:40px; margin-left:15px;}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 35px;
    color:#666;
}
.thought-writer{text-align:center;}

 .date-thought{text-align:center; color:#0CBCAE;}

.thought{color:#666; text-align:center;}

 .date{text-align:center; color:#FF6600;}

.list-group1 ul{list-style:none !important;}

.feature{border-bottom:1px solid #0CBCAE; font-size: 17px; color:#0CBCAE !important;   padding:20px 0 10px 0; color:#666; text-transform:uppercase;}

.feature1{padding:10px 0 4px 0; color:#666; text-transform:uppercase;}


.list-group1 ul li{list-style:none !important;}

.list-group1 ul li a{color:#666 !important;}

#margin_auto{margin:0 auto !important; display:block !important; float:none;}

.arrow-down {
 
  margin:30px auto;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  display:block;
  border-top: 20px solid #0CBCAE;
}

.sub{padding:15px 0; color:#fff; font-size:18px; text-transform:uppercase; border:1px solid #FF6600; background:#FF6600;}

.sub:hover{background:#0CBCAE;}

a{color:#666 !important;}

.registerR{font-size:15px ; text-transform:uppercase;  text-align:center; color:#0CBCAE !important;}